<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="scotchTodo">

<head>
  <!-- META -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="favicon.ico">
  <!-- Optimize mobile viewport -->

  <title>Node/Angular Dogadjaj NVT</title>

  <!-- SCROLLS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <!-- load bootstrap -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <style>
    html {
      overflow-y: scroll;
    }

    body {
      padding-top: 50px;
    }

    #todo-list {
      margin-bottom: 30px;
    }

    #todo-form {
      margin-bottom: 50px;
    }
  </style>

  <!-- SPELLS -->
  <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>-->
  <script type="text/javascript" src="./app/bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="./app/bower_components/angular-resource/angular-resource.js"></script>
  <script type="text/javascript" src="./app/bower_components/angular-route/angular-route.js"></script>
  <!-- load angular -->

  <script src="./app/controllers/dogadjajController.js"></script>
  <!-- load up our controller -->
  <script src="./app/services/dogadjajSer.js"></script>
  <!-- load our todo service -->
  <script src="./app/controllers/core.js"></script>
  <!-- load our main application -->

</head>
<!-- SET THE CONTROLLER -->

<body ng-controller="dogadjajController">
  message: {{message}} <br/>
  <br/>
  <h1>Ceo objekat dogadjaji--------------</h1><br/> {{dogadjaji}}
  <br/>
  <h1>Samo lista dogadjaja sa njihovim poljima-------------</h1><br/> {{dogadjaji.data}}
  <br/>

  <br/>
  <h1>Samo jedan dogadjaj-------------</h1><br/> {{dogadjaji.data[0]}}
  <br/>

  <br/>
  <h1>Samo neko polje dogadjaja npr id-------------</h1><br/> {{dogadjaji.data[0]._id}}
  <br/>

  <br/>
  <h1>Broj dogadjaja-------------------</h1><br/> {{dogadjaji.data.length}}
  <br/>
  <div class="container">

    <div>{{ message }}</div>
    <!-- <h1 ng-if="loading && (!dogadjaji || dogadjaji.length === 0)" >
      <p>Dogadjaji prazni</p>
    </h1>-->

    <!-- TODO LIST -->
    <div id="todo-list" class="row">
      <div class="col-sm-4 col-sm-offset-4">

        <div class="jumbotron text-center">
          <p>form data ispod</p>
          <div>{{ formData }}</div>
          <h1>Broj dogadja<span class="label label-info">{{ dogadjaji.data.length }}</span></h1>
        </div>


        <!-- LOOP OVER THE TODOS IN $scope.todos -->
        <div class="checkbox" ng-repeat="dogadjaj in dogadjaji.data">
          <label>
      <input type="checkbox" ng-click="deleteDogadjaj(dogadjaj._id)"> {{ dogadjaj._id }}
    </label>
        </div>

        <p class="text-center" ng-show="loading">
          <span class="fa fa-spinner fa-spin fa-3x"></span>
        </p>

      </div>
    </div>

    <!-- FORM TO CREATE TODOS -->
    <div id="todo-form" class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <form>
          <div class="form-group">

            <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
            <input type="json" class="form-control input-lg text-center" placeholder="Proba dogadjaj" ng-model="formData">
          </div>

          <!-- createToDo() WILL CREATE NEW TODOS -->
          <button type="submit" class="btn btn-primary btn-lg" ng-click="createDogadjaj('5911cf223adab910a4e5fbe3')">Add</button>
        </form>
      </div>
    </div>
  </div>
</body>

</html>