<div ng-controller="appDetailsCtrl" class="container col-md-6 col-md-offset-3 text-center">
	<div class="col-md-3">
		<a href="#/logout" ng-click="logout()">Logout</a>
	</div>
	<br> <br>
	<h3>Informacije o aplikaciji</h3>
    <label class="control-label" for="inputSmall">Odgovorni korisnik: {{user.ime}} {{user.prezime}}</label>
    <div class="panel panel-default">
            <div class="panel-heading">ID aplikacije</div>
            <div class="panel-body">{{a._id}}</div>
        </div>
	<div class="panel panel-default">
		<div class="panel-heading">Naziv aplikacije</div>
		<div class="panel-body">{{a.naziv}}</div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">Opis aplikacije</div>
		<div class="panel-body">{{a.opis}}</div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">Repozitorijum aplikacije</div>
		<div class="panel-body">{{a.repozitorijum}}</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">Verzija aplikacije</div>
		<div class="panel-body">{{a.verzija}}</div>
    </div>
    <div class="panel panel-default">
		<div class="panel-heading">DSN aplikacije</div>
		<div class="panel-body">{{a.DSN}}</div>
    </div>
    <h2>Izuzeci aplikacije</h2>
    <table class="table table-striped">
        <thead>
			<tr>
				<th>Verzija aplikacije</th>
                <th>Fragment</th>
                <th>Datum nastanka</th>
                <th>Obrisi</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="d in a.dogadjaji">
                <td>{{d.app_verzija}}</td>
                <td>{{d.fragment}}</td>
                <td>{{d.vreme_nastanka | date:'MM/dd/yyyy HH:mm'}}</td>
                <td><button ng-click="deleteDog(d)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td>
			</tr>
		</tbody>
    </table>
</div> 